.env
data/

# backend/data/diffusionsdb_lite
# backend/data/diffusionsdb_full
# backend/data/test_imgs
backend/data/
backend/.env
backend/images/

backend/E:\\ml_cache\\huggingface
backend/__pycache__